
/* Icons */

.icon {
  width: calc((100% / 4));
  height: 10rem;
  padding: 0;
  text-align:center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position: 50% 1rem;
}

.icon > label {
  margin-top: 10px;
  display:flex;
  justify-content: center;
}

.icon > label > span {
  width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  opacity: 1;
  font-family: arial;
}

.character {
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.character:before {
  content: "\f017";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

